<script>
  function filterByTagName(tagName) {
    $('.hidden').removeClass('hidden');
    $('.post-wrapper').each((index, elem) => {
      if (!elem.hasAttribute(`data-${tagName}`)) {
        $(elem).addClass('hidden');
      }
    });
    $(`.tag`).removeClass('selected');
    $(`.tag[data-tag=${tagName}]`).addClass('selected');
  }

  function updateQueryString(tagName) {
    const path = `${location.protocol}//${location.host}${location.pathname}?tag=${tagName}`;
    window.history.replaceState({ path }, '', path);
  }

  $(document).ready(function() {
    let currentTag = "";
    const queryTag = getQuery().tag;
    if (queryTag) {
      currentTag = queryTag;
      filterByTagName(currentTag)
    }
    $("[data-tag]").click((e) => {
      currentTag = e.target.dataset.tag;
      filterByTagName(currentTag);
      updateQueryString(currentTag);
    })
  });
</script>